* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 100px;
    background-color: #393E46;
}

/* bagian navbar */
.navbar {
    overflow: hidden;
    background-color: #222831; 
    font-family: "Montserrat", sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2; 
    text-align: center;
    padding: 18px 25px; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 12px;
    
}

.navbar a:hover {
    background-color: #ddd; 
    color: black; 
}

.navbar a.active {
    background-color: #D65A31; 
}
/* akhir nav bar */

/* banner style */
.container{
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    height: 50vh;
    background-image: url(carimage.jpg);
    background-size: cover;
    background-position: 69%;
    position: absolute;
}

.banner-teks{
    padding-top: 100px;
    margin-left: 50px;
    font-family: We Are Survivors;
    color: white;
    position: relative;
    ;
    
}

.banner-teks h1{
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.banner-teks{
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}